body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(0,255,239);
    background: linear-gradient(90deg, rgba(0,255,239,1) 0%, rgba(26,178,184,1) 35%, rgba(58,206,196,1) 63%, rgba(2,210,253,0.8410714627647934) 100%);
}

header{
    text-align: center;
    text-transform: uppercase;
    border: 2px solid #000;
}

.slider
{
    width: 900px;
    height: 600px;
    border-radius: 10px;
    overflow: hidden;
}

.slides{
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 900px;
    height: 600px;
}

.manual
{
    position: absolute;
    width: 900px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manuals
{
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    margin-top: 80px;
    cursor: pointer;
    transition: 1s;
}

.manuals:not(:last-child){
    margin-right: 40px;
}

.manuals:hover{
    background: rgb(214, 128, 15);
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}

.auto{
    position: absolute;
    width: 900px;
    margin-top: 460px;
    display: flex;
    justify-content: center;    
}

.auto div{
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    margin-top: 80px;
    transition: 1s;
}

.auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .auto .auto1
{
    background: rgb(0, 255, 255);
}

#radio2:checked ~ .auto .auto2
{
    background: rgb(0, 255, 255);
}

#radio3:checked ~ .auto .auto3
{
    background: rgb(0, 255, 255);
}

#radio4:checked ~ .auto .auto4
{
    background: rgb(0, 255, 255);
}