h2{
           
    margin-top: 60px;
    text-align: center;
    color: #ffffff;
}
form{
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(31,170,209,1) 28%, rgba(1,148,189,1) 70%, rgba(2,0,36,1) 100%);
    padding: 25px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

a{
    cursor: pointer;
    text-decoration: underline;
    color: #7777f5;
    margin-right: 4px;
}

table{
    width: 100%;
    text-align: center;
    margin-top: 20px;

}
table thead{
    background-color: rgb(173, 255, 47);
    height: 100px;
}

label .validation-error{
    margin-left: 5px;
}

.hide{
    display:none;
}

#Submit
{
    padding: 15px;
    border-radius: 5px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    text-align: right;
    background-color: #f5f5f5;
    cursor: pointer;
    
}
